<?php
/**
 * HarvestappTimeExporter
 *
 * config.secret.php.sample created at ..
 *
 *      Date: 20.11.13
 *      Time: 18:00
 *
 * .. with love by ..
 *
 *      User: Marco Moscher
 *
 * MIT Licence
 */


//Set Harvest login data

// Information:
// The account is the subdomain used to access harvest.
// For example if you access harvest at http://company123.harvestapp.com/ then account should be set to company123.
//
// Source: http://mdbitz.com/harvest-api/examples/basic-setup-configuration/ - Thanks at this point!

global $HARVAST_ACCOUNT;
$HARVAST_ACCOUNT = array( "user" => "", "password" => "" , "account" => "");

?>